.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 25px 10px 25px;
}

@media (max-width: 900px) {
    .productsContainer {
        margin: 5px;
    }
}