button {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.5em 0.7em;
    cursor: pointer;
    transition: border-color 0.25s;
    outline: 0px auto -webkit-focus-ring-color;
  }
  
  button.green {
    background-color: rgb(8, 121, 129);
  }
  
  button.clear {
    background-color: transparent;
    color: white;
  }

  button.yellow {
    background-color: rgb(231 196 22);;
    color: #11222f;
    opacity: 1;
  }
  
  button:hover {
    border-color: #657eb0;
    opacity: 0.8;
  }
  
  button:active {
    opacity: 0.9;
  }
  
  button:focus, button:focus-visible {
    outline: 0.3px auto rgb(211, 203, 136);
  }