.input {
    border-radius: 5px;
    padding: 14px;
    border: 1px solid rgb(139, 139, 139);
    background-color: rgba(228, 228, 228, 0.364);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: medium;
    color: rgb(78, 78, 78);
}

.input:focus, .input:focus-visible {
    outline: 1px auto rgb(7, 158, 189);
}