.product {
  width: 100%;
  min-width: 290px;
  max-width: 20%;
  height: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  box-sizing: border-box; /* Ensures padding and borders are included in width/height calculations */
  padding: 10px;
}

.card {
  height: calc(100% - 20px);
}

.titleLink {
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    background:#fff;
    min-height: 50px;
}

.image {
  width: 100%;
  height: 250px;
}

.imageCover {
  object-fit: cover;
}

.imageContain {
  object-fit: contain;
  /* margin-bottom: 100px; */
}

.price .value {
  font-size: 28px;
  font-weight: 500;
}

.price .symbol,
.price .fraction {
  top: -0.75em;
  font-size: 13px;
  position: relative;
}

.button {
  margin-top: 10px;
  line-height: 22px;
  color: black;
}

@media (max-width: 1470px) {
  .product {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media (max-width: 1180px) {
  .product {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}

/* @media (max-width: 1070px) {
    .product {
        flex-basis: 50%;
        max-width: 50%;
    }
} */

@media (max-width: 900px) {
  .product {
    flex-basis: 50%;
    max-width: 50%;
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .product {
    min-width: 155px;
  }
  .image {
    height: 160px;
  }
}
