
.nav-bar {
    width: 100vw;
    position: sticky;
    display: flex;
    place-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
    top: 0;
    z-index: 1;
    background-color: rgba(245, 245, 247, 0.107);
    transition: background-color 1s ease;
}

.nav-bar button {
    font-size: 16px;
    margin: 10px;
    transition: color 1s ease;
}

.nav-bar button:active {
    /* border: 1px solid rgb(108, 152, 219) !important; */
}

.selected {
    border: 1px solid rgb(108, 152, 219);
}

.nav-bar.scrolled {
    /* box-shadow: 0 7px 7px -5px #403f3f; */
    background-color: rgba(245, 245, 247, .9);
}

.nav-bar.nav-bar.scrolled button {
    color: black !important;
}