
.nav-bar {
    width: 100vw;
    position: sticky;
    display: flex;
    place-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
}

.nav-bar button {
    font-size: 20px;
    margin: 10px
}

.nav-bar button:active {
    border: 1px solid rgb(108, 152, 219) !important;
}

.selected {
    border: 1px solid rgb(108, 152, 219);
}
