
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 15px;
}

.images, .details, .options {
    box-sizing: border-box; 
    /* border: 1px solid gray; */
    padding: 15px;
}

.images {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
    display: flex;
}

.imagesCollection {
    width: 20%;
    height: 100px;
}

.thumbnailImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box; 
}

.mainImage {
    width: 80%;
    height: 400px;
    object-fit: cover;
}

.details {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
}

.options {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
}