.input {
    border-radius: 5px;
    padding: 14px;
    border: 1px solid rgb(139, 139, 139);
    background-color: rgba(228, 228, 228, 0.8);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: medium;
    color: rgb(78, 78, 78);
}

.input:focus, .input:focus-visible {
    /* outline: 0.5px autorgb(163, 163, 163); */
}